body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
    "header header header" 
    "main main main" 
    "footer footer footer";
}

.grid-item1 {
    grid-area: header;
    padding: 0 20px;
    background-color: #A2CBBC;
}

.grid-item2 {
    grid-area: main;
}

.grid-item3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    grid-area: footer;
    padding: 0;
    background-color: #E3E3E3;
}

.main {
    margin: 0 100px;
    display: flex;
    flex-direction: row;
}

.left-container {
    margin-left: 80px;
    flex-grow: 1;
}

.right-container {
    margin-right: 80px;
    flex-grow: 1;
}

label > span {
    color: red;
}

table {
    border-spacing:0 15px;
    width: 100%;
    margin: 0;
}

tr {
    padding:5px;
}

td {
    width: 50%;
}

a {
    color: black;
}

td input {
    margin: 0 0 10px 0;
    width: 100%;
    box-sizing: border-box;
}

td label {
    font-weight: 900;
}

td select {
    margin: 0 0 10px 0;
    width: 100%;
}

.check-label {
    font-size: small;
    font-weight: 400;
}

input[type="checkbox"]{
    margin: 0 8px 10px 0;    
    width: fit-content;
}

#address {
    height: 100px;
    box-sizing: border-box;
    width: 100%;
}

.payment {
    display: flex;
    flex-direction: column;
}

footer > input {
    background-color: #7AA897;
    color: white;
    font-weight: 800;
    border: none;
    width: 100px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center
}