body{
    padding: 0px;
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    "header header header" 
    "main main main" 
    "footer footer footer";
}

.grid-item1 {
    grid-area: header;
    padding: 0 20px;
    background-color: #A2CBBC;
}

.grid-item2 {
    grid-area: main;
}

.grid-item3 {
    grid-area: footer;
    padding: 0 20px;
    background-color: #E3E3E3;
}

.main {
    padding: 20px;
}

label > span {
    color: red;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}