.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px auto auto auto auto 100px;
    grid-template-areas: 
    "header header header" 
    "main main sidebar" 
    "main main sidebar" 
    "main main sidebar" 
    "main main sidebar"
    "footer footer footer";
}

.grid-item1 {
    grid-area: header;
}

.grid-item2 {
    grid-area: sidebar;
}

.grid-item3 {
    padding-left: 100px;
    grid-area: main;
}

.grid-item4 {
    grid-area: footer;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #262626;
    font-family: 'Chivo', sans-serif;
    font-size: 80%;
}

a {
    color: #0d8ba1;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

a:visited {
    color: #1a5952;
}

a:hover, a:focus {
    color: #0599c2;
    text-decoration: underline;
}

abbr {
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

header {
    padding: 20px 0 20px 0;
    background: #2d6360 50% 0 url(../images/huntington.jpg) no-repeat;
    /* old IE fallback */
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(../images/huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
}

h1, h2 {
    padding: 0 10%;
    margin: 0;
    color: #fff;
    font-weight: normal;
}

h1 {
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;
    font-family: 'Chivo', sans-serif;
    font-size: 3.2em;
    text-transform: uppercase;
}

h1::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 80px;
    height: 80px;
    margin: -20px 20px 0 0;
}

h2 {
    display: block;
    padding-top: 5px;
    padding-bottom: 30px;
    border-top: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6em;
    font-style: italic;
}

h2::before {
    content: " ";
    padding: 50px;
}

h3 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Chivo', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    margin: 0.75em 0;
    line-height: 2;
}

.page-wrapper {
    position: relative;
}
.supporting {
    background-color: white;
}
.supporting h3, .supporting p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    padding-top: 2em;
}

/* intro block links -- download HTML/CSS */

.intro a, .intro a:visited {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: -10px;
    border-radius: 1px;
    font-family: 'Chivo', sans-serif;
    text-transform: uppercase;
}

.intro a:hover, .intro a:focus {
    text-decoration: none;
}



/* extra padding at the cutoffs */
div.participation {
    padding: 3em 0;
    margin-top: 3em;
}

div.benefits {
    padding-bottom: 3em;
    margin-bottom: 3em;
}

div.participation h3, div.benefits h3 {
    margin-top: 0;
}

div.participation p, div.benefits p {
    margin-bottom: 0;
}

/* sidebar base styles */

.sidebar {
    background: #edf4f0;
}

.sidebar h3 {
    display: none;
}

.sidebar a {
    color: #607476;
    text-decoration: none;
}

.sidebar a:hover, .sidebar a:focus {
    color: #49968e;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

/* shared sidebar styling */

h4.resources, h4.select {
    padding-left: 30px;
    padding-top: 40px;
    margin-top: 0;
    color: #607476;
    font-family: 'Chivo', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    text-transform: uppercase;
}
.design-selection ul, .zen-resources ul {
    margin: 0;
}

.design-selection li, .zen-resources li {
    float: left;
    width: 50%;
    padding: 1.5em 10%;
    border-top: solid 1px #d9e3dc;
    font-style: italic;
}

.design-selection li:hover, .design-selection li:focus {
    /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); */
    /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); */
    /* Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); */
    /* Opera 11.10+ */
    /* background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); */
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
}

.design-selection li:nth-child(2n+1), .zen-resources li:nth-child(2n+1) {
    clear: left;
}

.design-selection .design-name, .zen-resources a, li.viewall a {
    display: block;
    margin-bottom: 0.25em;
    font-family: 'Chivo', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    text-transform: uppercase;
}

/* select a design */

.design-selection h3 {
    display: none;
}

.design-selection .designer-name {
    font-size: 0.9em;
    font-style: normal;
}

/* archives navigation */

.design-archives {
    position: absolute;
    top: 160px;
    right: 0;
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
}

.design-archives h3 {
    display: none;
}

.design-archives ul {
    margin: 0;
}

.design-archives li {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}

.design-archives li.viewall {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 71px;
    line-height: 50px;
}

.previous, .next {
    left: 0;
    z-index: 3;
}

.next {
    left: auto;
    right: 0;
}

.design-archives a, .design-archives a:visited {
    color: rgba(255, 255, 255, 0.65);
}

.design-archives a:hover, .design-archives a:focus {
    color: #fff;
}

.design-archives .previous a, .design-archives .next a {
    display: block;
    overflow: hidden;
    width: 70px;
    height: 70px;
    text-indent: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.design-archives .viewall a {
    z-index: 2;
    width: 100%;
    min-height: 70px;
    padding: 12px 0 0 0;
    text-align: center;
}

.design-archives .viewall a:hover, .design-archives .viewall a:focus, .design-archives .viewall a:active, .design-archives a:hover::before, .design-archives a:focus::before, .design-archives a:active::before {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.design-archives .previous a::before {
    content: "<";
}

.design-archives .next a::before {
    content: ">";
}

/* resources */

.zen-resources {
    overflow: hidden;
}

.zen-resources li {
    border-top: solid 1px #a0b9ad;
    font-style: normal;
}

.zen-resources li:last-child {
    float: none;
    width: auto;
    border-bottom: solid 1px #a0b9ad;
}

/* busting out the credits block */

.requirements p:nth-child(5) {
    padding-bottom: 2em;
}

.supporting .requirements {
    background-color: white;
    float: none;
    clear: both;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.supporting .requirements a {
    text-decoration: none;
}

.supporting .requirements a:hover, .supporting .requirements a:focus {
    text-decoration: underline;
}

.supporting .requirements h3 {
    padding-top: 0;
}

.requirements p:last-child {
    width: auto;
    padding: 1em 12%;
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
    background: #3e5d67;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

.requirements p:last-child a {
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
}

/* main footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    clear: both;
    padding: 3em 10%;
    color: #fff;
    background: #134347;
    text-align: center;
}

footer a {
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding: 40px 0 0 0;
    margin: 0 0.5em;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
}

footer a:visited {
    color: rgba(255, 255, 255, 0.2);
}

a>img{
    width:40px;
    height: 40px;
}